* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  min-height: 100%;
  background: url("/img/cover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
body {
  color: #666;
  font-family: "Microsoft Yahei", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 1260px) {
  body {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 0 10px;
    font-size: 16px;
  }
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  color: #4db7d9;
}
a,
a:hover {
  text-decoration: none;
  color: #4db7d9;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
a:hover,
a:hover:hover {
  color: #666;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  float: left;
  width: 100%;
}
.inner {
  width: 940px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .inner {
    width: 100%;
  }
}
@media screen and (max-width: 1260px) {
  #wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 900px) {
  #wrapper {
    margin-right: 0;
  }
}
#header {
  margin: 40px auto 0;
  text-align: center;
}
#header a {
  color: #fff;
}
#header a:hover {
  color: #666;
  text-decoration: none;
}
#header h1 {
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
}
#header h4 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  #header h4 {
    margin-bottom: 10px;
  }
}
#header #main-nav {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2.5em;
}
#header #main-nav ul {
  list-style: none;
}
#header #main-nav ul li {
  float: left;
  margin-right: 30px;
}
@media screen and (max-width: 600px) {
  #header #main-nav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #header {
    margin: 10px auto 0;
  }
}
article {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
article.page {
  padding-left: 20px;
}
article.page .icon {
  display: none;
}
article.post .icon:before {
  content: '\f016';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #ccc;
  font: 12px font-icon;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content {
  padding: 30px 60px;
  margin-bottom: 50px;
  position: relative;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  article .post-content {
    padding-left: 20px;
  }
}
article .gallery {
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 font-icon;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #4db7d9;
}
@media screen and (max-width: 600px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 32px font-icon;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article header time {
  color: #ccc;
  font: 0.9em "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
}
article header .title {
  margin-bottom: 20px;
  font-weight: normal;
}
article header .title a {
  color: #666;
}
article header .title a:hover {
  color: #4db7d9;
}
article .entry {
  text-align: justify;
  line-height: 1.8;
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
  margin-top: 15px;
}
article .entry blockquote {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-style: italic;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  padding: 0 30px 15px;
  text-align: center;
}
article .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .entry code,
article .entry pre {
  font-family: Source Code Pro, Monaco, Menlo, Consolas, Courier New, monospace;
}
article .entry code {
  background: #eee;
  color: #999;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article .entry pre {
  background: #333;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
article .entry pre code .comment,
article .entry pre code .template_comment,
article .entry pre code .diff .header,
article .entry pre code .doctype,
article .entry pre code .pi,
article .entry pre code .lisp .string,
article .entry pre code .javadoc {
  color: #93a1a1;
  font-style: italic;
}
article .entry pre code .keyword,
article .entry pre code .winutils,
article .entry pre code .method,
article .entry pre code .addition,
article .entry pre code .css .tag,
article .entry pre code .request,
article .entry pre code .status,
article .entry pre code .nginx .title {
  color: #f0e68c;
}
article .entry pre code .number,
article .entry pre code .command,
article .entry pre code .string,
article .entry pre code .tag .value,
article .entry pre code .phpdoc,
article .entry pre code .tex .formula,
article .entry pre code .regexp,
article .entry pre code .hexcolor {
  color: #2aa198;
}
article .entry pre code .title,
article .entry pre code .localvars,
article .entry pre code .chunk,
article .entry pre code .decorator,
article .entry pre code .built_in,
article .entry pre code .identifier,
article .entry pre code .vhdl,
article .entry pre code .literal,
article .entry pre code .id {
  color: #268bd2;
}
article .entry pre code .attribute,
article .entry pre code .variable,
article .entry pre code .lisp .body,
article .entry pre code .smalltalk .number,
article .entry pre code .constant,
article .entry pre code .class .title,
article .entry pre code .parent,
article .entry pre code .haskell .type {
  color: #b58900;
}
article .entry pre code .preprocessor,
article .entry pre code .preprocessor .keyword,
article .entry pre code .shebang,
article .entry pre code .symbol,
article .entry pre code .symbol .string,
article .entry pre code .diff .change,
article .entry pre code .special,
article .entry pre code .attr_selector,
article .entry pre code .important,
article .entry pre code .subst,
article .entry pre code .cdata,
article .entry pre code .clojure .title {
  color: #cb4b16;
}
article .entry pre code .deletion {
  color: #dc322f;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry iframe {
  border: none;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #ccc;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em font-icon;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #ccc;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
article footer a {
  color: #ccc;
}
article footer a:hover {
  color: #4db7d9;
  text-decoration: none;
}
article footer a:before {
  font: 1.1em font-icon;
  padding-right: 10px;
  vertical-align: middle;
}
article footer a.more-link:before {
  content: '\f054';
}
article footer a.comment-link:before {
  content: '\f075';
}
article footer .categories,
article footer .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
article footer .categories:before,
article footer .tags:before {
  position: absolute;
  font: 1.1em font-icon;
}
article footer .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
article footer .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
article footer .addthis {
  margin-top: 15px;
}
article footer .addthis iframe {
  margin-top: 0;
}
#comment {
  margin-bottom: 50px;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
.home-inner {
  margin: 0 auto;
  width: 1080px;
}
.home-content {
  display: table;
  background: url("/img/line.gif") center repeat-y;
}
.home-content .home-post {
  position: relative;
  width: 46%;
}
.home-content .home-post .inner {
  padding: 40px;
  max-width: 400px;
  min-height: 200px;
  overflow: hidden;
  background: rgba(255,255,255,0.9);
}
.home-content .home-post .more {
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 10px 30px;
  border: 2px solid #4db7d9;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 14px;
}
.home-content .home-post .more:hover {
  color: #666;
  border-color: #666;
  text-decoration: none;
}
.home-content .even {
  float: left;
}
.home-content .even:after {
  position: absolute;
  left: 100%;
  top: 10%;
  margin-top: -10px;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-color: rgba(255,255,255,0);
  border-left-color: #fff;
  border-width: 10px;
}
@media screen and (max-width: 600px) {
  .home-content .even:after {
    border: none;
  }
}
.home-content .odd {
  float: right;
  margin: -220px 0 0 0;
}
@media screen and (max-width: 600px) {
  .home-content .odd {
    float: left;
    margin: 20px 0;
  }
}
.home-content .odd:after {
  position: absolute;
  right: 100%;
  top: 10%;
  margin-top: -10px;
  content: "";
  width: 0;
  height: 0;
  pointer-events: none;
  border: solid transparent;
  border-color: rgba(255,255,255,0);
  border-right-color: #fff;
  border-width: 10px;
}
@media screen and (max-width: 600px) {
  .home-content .odd:after {
    border: none;
  }
}
.blog-tagline {
  margin: 0 auto 40px;
  display: block;
  width: 380px;
  height: 1px;
  background: #fff;
}
@media screen and (max-width: 600px) {
  .blog-tagline {
    display: none;
  }
}
#pagination {
  display: inline-block;
  margin: 60px 0 0 0;
  width: 100%;
}
#pagination a {
  display: block;
  padding: 20px;
  width: 42%;
  background: #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  text-align: center;
  margin-bottom: 50px;
}
#pagination a:hover {
  background: #4db7d9;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: font-icon;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: font-icon;
}
.archive-title {
  color: #ccc;
  font-weight: normal;
  margin-bottom: 20px;
}
.archive-title:before {
  font-family: font-icon;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07b';
}
.archive {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}
.archive article {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.archive article .post-content {
  margin-bottom: 0;
}
#sidebar {
  width: 270px;
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ccc;
}
#sidebar .search input:focus {
  color: #666;
}
#sidebar .tag small {
  margin-left: 15px;
  color: #ccc;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #ccc;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#footer {
  padding: 10px;
  margin-bottom: 50px;
  color: #ccc;
  font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
}
